* {
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Mansalva', cursive;
 }

body {
    background-color: rgb(240, 160, 188);
}

.img-thumbnail {
    height: 150 px;
    width: 200px;
    border: 4px solid rgb(196, 62, 107);
}

.jumbotron {
    background-color: rgb(170, 54, 93);
}

